{% extends 'base.html.twig' %}

{% block title %}LUXSPACE - Nos destinations{% endblock %}
{% block description %}<meta name="description" content="Liste de nos destinations spatiales"/>{% endblock %}

{% block body %}
<div class="container">
    <main>
        <section class="selection_products">
            <h1 class="htitle_center">Les destinations</h1>
            <p class="subtitle"><span>Explorez les merveilles de la galaxie</span></p>
            <span class="section-divider"></span>
            <div class="items">
                {% for destination in destinations %}
                    {% include "./destinations/parts/product.html.twig" %}
                {% endfor %}
            </div>
        </section>
    </main>
</div>
{% endblock %}
