{% extends 'base.html.twig' %}

{% block title %}LUXSPACE - À propos{% endblock %}
{% block description %}
    <meta name="description" content="À propos de Luxspace"/>
{% endblock %}
{% block body %}
<div class="container">
    <main>
        <div class="flex_center">
            <section class="middle">
                <h1 class="htitle_center">C'est quoi Luxspace ?</h1>
                <p class="subtitle"><span>Application web de réservation de vols pour l'espace<span></p>
                <p>Salut &#128075;&#127996;, moi c'est <strong>Mike</strong>, je suis <strong>développeur web</strong>,</p>
                <p>Cette application web de réservation de vols pour l'espace est un projet 
                    fictif réalisé dans le cadre de mon <strong>portfolio personnel</strong>.
                <p>Retrouvez le code source du projet sur mon <strong><a href="https://github.com/curvata">GitHub</a></strong>.</p>
                <p>Vous pouvez également me rendre visite sur mon <a href="https://menezes.be"><strong>site web</strong></a> pour y découvrir l'ensemble de mes projets</p>
                <p>À bientôt &#x1F609;.</a></p>
            </section>
        </div>
    </main>
</div>
{% endblock %}