{% extends 'mails/mail.html.twig' %}

{% block body %}
<p> Bonjour {{ content.user.firstname }},<br><br>
voici le lien afin de réinitialiser votre mot de passe.<br><br>
<a href="{{ absolute_url(path('password.recovery', {'token': content.token })) }}">Réinitialiser mon mot de passe maintenant</a>
{% endblock %}