{% extends 'admin/dashboard.html.twig' %}

{% block title %}Administration - Créer une destination{% endblock %}
{% block description %}
    <meta name="description" content="Créer une nouvelle destination" />
{% endblock %}

{% block adminContent %}
    <h1 class="htitle">Créer une nouvelle destination</h1>
    {{ include('admin/location/_form.html.twig') }}
{% endblock %}
