table {
    width: 100%;
    border-collapse: collapse;

    tr {
        background-color: white;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        th {
            background-color: var(--black);
            color: white;
            font-size: 1rem;
            padding: 1rem;
        }

        &:nth-child(2n) {
            background-color: rgba(241, 241, 241, 0.8);
        }
       
        td {
            padding: 1rem;
            font-size: 1rem;
            text-align: center; 
        }
    }

    .selected_row {
        border-left: 10px solid rgba(250, 58, 58, 0.8);
        border-right: 10px solid rgba(250, 58, 58, 0.8);
    }
}

.th-sm {
    th {
        width: 100px;
    }
}

@media screen and (max-width: 640px) {
    th {
      display: none;
    }
    td {
      display: block;
    }
  }