:root {
    --black:rgb(14, 14, 14);
    --grey: rgb(209, 209, 209);
    --red: #ee2436;
    --red-hover: #db2130;
    --blue: #00a3df;
    --blue-hover: #0196cc;
    --green: #6ab04c;
    --green-hover: #5d9e41;
    --orange: #f0932b;
    --orange-hover: #e78d25;

    --text: rgb(26, 26, 26);
    --font-size: 15px;
    --font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    --padding-content: 30px;
    --margin-content: 30px;

    --margin-top: 30px;
    --margin-bottom: 30px;

    --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);   
    --br: 2px;
}