{% extends 'admin/dashboard.html.twig' %}

{% block title %}Administration - Editer le vol de départ {{ departure.reference }}{% endblock %}
{% block description %}
    <meta name="description" content="Modifier le vol de départ {{ departure.reference }}" />
{% endblock %}

{% block adminContent %}
    <h1 class="htitle">Editer le vol départ ({{ departure.reference }})</h1>
    {{ include('admin/departure/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
{% endblock %}
