{% extends 'base.html.twig' %}

{% block title %}LUXSPACE - Réinitialiser votre mot de passe {% endblock %}
{% block description %}
    <meta name="description" content="Renseigner votre nouveau mot de passe" />
{% endblock %}
{% block body %}
<div class="container">
    <main>
        <div class="flex_center">
            <section class="middle">
                <h1 class="htitle_center">Réinitialiser mon mot de passe</h1>
                <p class="subtitle"><span>Merci de renseigner votre nouveau mot de passe</span></p>
                {{ form_start(form) }}
                {{ form_row(form.password) }}
                <button class="btn_secondary full" type="submit">Sauvegarder</button>
                {{ form_end(form) }}
            </section>
        </div>
    </main>
</div>
{% endblock %}
